.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-tasks{
    padding: 50px;
}
.container-tasks li{
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;   
}